[Desktop Action quit]
Exec=telegram-desktop -quit
Icon=application-exit
Name=Quit Telegram

[Desktop Entry]
Actions=quit;
Categories=Chat;Network;InstantMessaging;Qt;
Comment[en_GB]=New era of messaging
Comment=New era of messaging
DBusActivatable=true
Exec=telegram-desktop -startintray -- %u
GenericName[en_GB]=
GenericName=
Icon=telegram
Keywords=tg;chat;im;messaging;messenger;sms;tdesktop;
MimeType=
Name[en_GB]=Telegram
Name=Telegram
Path=
SingleMainWindow=true
StartupNotify=true
StartupWMClass=TelegramDesktop
Terminal=false
TerminalOptions=
TryExec=telegram-desktop
Type=Application
X-GNOME-SingleWindow=true
X-GNOME-UsesNotifications=true
X-KDE-SubstituteUID=false
X-KDE-Username=
